/* -----------------FOOTER----------------- */

footer {
    width: 100%;
    height: 20em;
    position: absolute;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

footer .footer-1 {
    height: 80%;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer .footer-1 ul:nth-child(1) {
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    img {
        width: 5em;
        height: 5em;
    }
}

footer .footer-1 ul:nth-child(2) {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    li {
        padding-bottom: 0.5em;
        a {
            text-decoration: none;
            color: aliceblue;
        }
        h4 {
            padding-bottom: 0.5em;
        }
    }
}

footer .footer-1 ul:nth-child(3) {
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

footer .footer-1 .liste-reseaux-sociaux {
    display: flex;
    flex-direction: row;
    img {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 4em;
        height: 4em;
        border-radius: 10px;
    }
}

footer .footer-2 {
    height: 20%;
    background-color: rgb(12, 12, 12);
    align-content: center;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        margin: 1em;
        li {
            margin-left: 0.3em;
            margin-right: 0.3em;
        }
    }
}



footer .footer-2 ul li:not(:nth-child(1)) {
    color: rgb(228, 189, 118);
}