* {
    margin: 0;
    padding: 0;
}

/* -----------------FOOTER----------------- */

footer {
    width: 100vw;
    height: 10em;
    position: absolute;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

footer .footer-1 {
    background-color: rgb(59, 59, 59);
}

footer .footer-2 {
    background-color: rgb(12, 12, 12);
}



footer .footer-2 ul li:not(:nth-child(1)) {
    color: rgb(228, 189, 118);
}