/* Indicateur position sur le site */

#body-map header nav ul:nth-child(3) li:nth-child(2) a {
    border-bottom: 3px solid rgb(201, 124, 29);
}

#body-conseil header nav ul:nth-child(3) li:nth-child(3) a {
    border-bottom: 3px solid rgb(201, 124, 29);
}

#body-photo header nav ul:nth-child(3) li:nth-child(4) a {
    border-bottom: 3px solid rgb(201, 124, 29);
}

#body-connexion header nav ul:nth-child(5) li:nth-child(1) a {
    border-bottom: 3px solid rgb(201, 124, 29);
}

#body-inscription header nav ul:nth-child(5) li:nth-child(2) a {
    border-bottom: 3px solid rgb(201, 124, 29);
}


/* -----------------ALL----------------- */

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    font-size: calc(10px + 0.4vw);
}

main {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word; /*le texte se retourne et ne dépasse pas */
}

main .separator {
    margin: 100px 0px 100px 0px;
    background-color: rgb(141, 71, 9);
    width: 300px;
    height: 4px;
}

@media screen and (max-width: 800px) {
    body main {
        font-size: 17px;
    }
}

/* ----------------ACCUEIL---------------- */


#main_accueil #featured-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word; /* Assurez-vous que le texte se retourne et ne dépasse pas */
}

#main_accueil .welcome {
    width: 70%;
    height: 700px;
    background-image: url('../image/image-chien-3.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(30px + 5vw);
    img {
        width: auto;
        height: calc(300px + 20vw);
    }
    .presentation {
        border: 3px solid black;
        margin-bottom: 100px;
        padding: 20px;
        margin-left: calc(100px + 20vw);
        background-color: rgb(255, 253, 250);
        text-align: start;
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(10px + 0.5vw);
    }
}

#main_accueil #welcome1 {
    margin-bottom: 0;
    margin-top: 100px;
    flex-direction: row-reverse;
    background-image: url('../image/image-chien-5.jpg');
    background-position: right;
    .presentation {
        margin-left: 0;
        margin-right: calc(100px + 20vw);
    }
}

/* CARROUSEL */

#main_accueil .carousel {
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main_accueil .carousel .carousel-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
}

#main_accueil .carousel #prev-button {
    transform: rotate(180deg);
}

#main_accueil .carousel-items article img {
    width: 598px;
    height: 298px; /*on enleve 2 px pour prendre en compte la taille de la "border"*/
    border: 1px solid black;
}

#main_accueil .carousel-items {
    overflow: hidden;
    background-color: rgb(183, 221, 221);
    position: relative;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 340px;
}

#main_accueil .carousel-items > * {
    position: absolute;
    transition: all 0.5s ease-out;
}


#main_accueil #carousel-indicators button {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: black;
}

/* CHANGEMENT de l'affichage en fonction taille écran (1 ou 2) */
@media screen and (max-width: 800px) {
    #main_accueil .carousel {
        position: relative;
        margin-top: 15vw;
    }
    #main_accueil .carousel .carousel-button {
        margin: 0;
        width: 100px;
        height: 100px;
        position: absolute;
    }
    #main_accueil .carousel #prev-button {
        right: 80%;
        z-index: 1;
    }
    #main_accueil .carousel #next-button {
        left: 80%;
    }
}

/* -----------------CARTE----------------- */

#main_map {
    margin-top: 5%;
}

#main_map #map {
    height: calc(100px + 30vw);
    width: 60%;
}

/* ----------------CONSEIL---------------- */
.conseil {
    margin-top: 0;
}
.conseil section:nth-child(1) {

    width: 100%;
    height: 700px;
    background-image: url(../image/image-chien-17.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-bottom: 100px;
    article {
        margin-top: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(10px + 0.5vw);
        width: 60%; 
        height: auto;
        padding: 22px;
        background-color: rgb(245, 250, 255);
        border: 3px solid black;
        p {
            text-align: left;
        }
    }
}

.conseil .accordion article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conseil .accordion .accordion-item {
    width: calc(250px + 30vw);
    height: calc(50px + 2vw);
    background-color: rgb(36, 22, 6);
    color: aliceblue;
    border: 1px solid aliceblue;
    margin-top: calc(10px + 0.5vw);
    margin-bottom: calc(10px + 0.5vw);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    h3 {
        font-size: 20px;
    }
    .indiceEtat {
        font-size: calc(30px + 0.5vw);
        font-weight: bolder;
        position: absolute;
        margin-left: 90%;
        margin-top: auto;
    }
}

.conseil .accordion .accordion-item:hover {
    border: 3px solid rgb(69, 37, 1);
    background-color: rgb(36, 22, 6);
}

.conseil .accordion .panel {
    width: calc(250px + 30vw);
    height: auto;
    border: 1px solid black;
    padding: 0px;
    p {
        padding: 5px;
    }
}

.conseil .conclusion {
    width: calc(200px + 40vw);
    height: auto;
}

@media screen and (max-width: 800px) {
    .conseil {
        margin-top: 0;
    }
    .conseil section:nth-child(1) {
        width: 100%;
        height: 600px;
        background-image: url(../image/image-chien-14.jpg);
        background-position: right;
        article {
            margin-top: 400px;
            width: 70%;
            padding: 10px;
        }
    }
}

/* -----------------PHOTO----------------- */

#photo {
    width: 100%;
    height: auto;
    background-color: rgb(25, 0, 255);
    padding: 150px 0 150px 0;
}

#photo #section-photo {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    padding: 20px;
    background-color: aqua;
}

#photo #section-photo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    filter: grayscale(90%);
    transition: 0.35s linear;
}

#photo #section-photo img:hover {
    transform: scale(2);
    filter: grayscale(0);
    z-index: 1;
}





 
/* -----------------CONTACT----------------- */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact #container-contact{
    color: aliceblue;
    width: calc(100px + 40%);
    height: auto;
    background-color: rgb(36, 22, 6);
    padding: 50px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border: 2px solid rgb(23, 11, 0);
    margin: 50px;
}

#contact #container-contact section {
    width: 100%;
    height: auto;
}

#contact #container-contact section input,textarea{
    width: calc(100px + 20vw);
    height: 20px;
    text-align: center;
    overflow-wrap: break-word;
    resize: none;
    font-size: calc(10px + 0.2vw);
    padding-top: 5px;
}

#contact #container-contact section:nth-child(3) textarea {
    width: calc(200px + 20vw);
    height: 90px;
}

#contact input:focus, textarea:focus {
    border-color: rgb(243, 187, 124);
    outline: none;
}

/* -----------------CONNEXION----------------- */

#connexion {
    background-image: url('../image/fond-connexion.png');
    background-position-x: 700px;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-size: 1800px;
    margin-top: 0;
}

#connexion h1 {
    margin-top: 110px;
}

#connexion div {
    margin: 10px 0px 10px 0px;
}

#connexion h3 {
    margin-bottom: 20px;
}

#connexion #contenair1 div:nth-child(1) input {
    margin-bottom: 80px;
}

#connexion #contenair1 {
    width: calc(200px + 25vw);
    height: auto;
    background-color: rgb(36, 22, 6);
    border: 3px solid rgb(133, 82, 23);
    padding: 30px;
    margin: 50px;
    color: rgb(255, 255, 255);
}

#connexion input {
    width: calc(200px + 10vw);
    height: calc(20px + 0.5vw);
    border-radius: 5px;
    border: 2px solid rgb(140, 76, 4);
    text-align: center;
    font-size: 17px;
}

#connexion input::placeholder {
    font-style: italic;
    text-align: center;
}

#connexion input:focus {
    border-color: rgb(243, 187, 124);
    outline: none;
}

#connexion input:focus::placeholder {
    opacity: 0;
}





/*BOUTON CONFIRMATION Inscription/Connexion/Contact */

#submitButtonConnexion,#submitButtonInscription,#submitButtonContact {
    width: 200px;
    height: 50px;
    background-color: rgb(36, 22, 6);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(69, 37, 1);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

#submitButtonConnexion:hover, #submitButtonInscription:hover, #submitButtonContact:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(36, 22, 6);
}





/* -----------------INSCRIPTION----------------- */

#inscription h1 {
    margin: 10px;
}

#inscription #contenair {
    background-color: rgb(36, 22, 6);
    border: 3px solid rgb(133, 82, 23);
    padding: 30px;
    margin: 50px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    width: calc(100px + 40vw);
    height: calc(200px + 5vw);
    align-items: center;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

#inscription input {
    width: calc(100px + 10vw);
    height: calc(20px + 0.5vw);
    border: 2px solid rgba(140, 76, 4, 1);
    text-align: center;
    font-size: 17px;
}

#inscription input::placeholder {
    font-style: italic;
    text-align: center;
}

#inscription input:focus {
    border-color: rgb(243, 187, 124);
    outline: none;
}

#inscription input:focus::placeholder {
    opacity: 0;
}

#inscription #userMessageInscription {
    position: absolute;
    left: 20px;
    top: 450px;
    width: calc(150px + 12vw);
    height: auto;
    border: 3px solid rgba(140, 76, 4, 1);
    border-radius: 10px;
    background-color: aliceblue;
    padding: 20px;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#inscription #userMessageInscription #listeConditionPassword {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: red;
}

@media screen and (max-width: 800px) {
    #inscription #contenair {
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
        gap: 50px;
        height: auto;
    }
    #inscription input {
        width: calc(150px + 20vw);
    }
}