* {
    margin: 0;
    padding: 0;
  }


  html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1em;
    background-color: #E0FCFC;
}

/* h1 {
    
} */

h2 {
    margin-top: 5%;
}

/* h3 { 

} */

a {
    text-decoration: none;
}

.header,
.footer {
  background-color: #F7DCB9;
}

.header {
    display: flex; /*flexbox pour orga*/
    justify-content: center; /*aligne à partir de ...*/
    align-items: center; /*centre verticalement*/
    background-color: #F7DCB9;
    padding: 10px; 
}

.logo input {
    margin-right: 10px; 
    width: 100px;
    height: auto;
}

.titre {
    margin-left: 42%; 
    margin-right: auto; 
}

/*FAIRE EN SORTE QUE LE TITRE S'aligne sans prendre en 
compte la largeur du logo*/

.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.onglet1 {
    margin-top: 5%;
    grid-template-columns: repeat(7, auto);
    display: grid; 
    margin-left: 20%;
    margin-right: 20%;
}