* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(39, 23, 9);
    position: sticky;
    height: 9vh;
    top: 0;
}

header>* {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px 0 30px;
}

header img {
    height: 7vh;
    width: 7vh;
    border-radius: 7px;
}

header a {
    text-decoration: none;
}

header a h1 {
    margin-left: 10%;
}

header ul {
    right: 0;
    text-decoration: none;
}

header ul li a {
    text-decoration: none;
}

header,
header a {
    color: white;
}

header a:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
}

header>ul li {
    margin: 10px;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    transition: background-color 0,5s ease-in-out;
}

header li:hover {
    background-color: rgba(110, 68, 13, 0.3);
    outline: 3px solid rgba(255, 181, 97, 0.5);
}

@media screen and (max-width: 1100px){
    header {
        height: 12vh;
        display: grid;
        grid-template-rows: repeat(2, 70% 30%);
        grid-template-columns: repeat(2, 50% 50%);
        row-gap: 30px;
        padding-bottom: 20px;
    }
    header #logo-toutoutrajet {
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
    }
    header #titre-toutoutrajet {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }
    header ul {
        grid-row: 2;
        grid-column: 1/3;
        justify-content: center;
    }
}



.page-main {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.bienvenue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.bienvenue>img {
    width: 500px;
    align-self: center;
    border-radius: 4px;
}

.bienvenue>.texte {
    width: 500px;
    margin-left: 20px;
}

.texte p {
    text-align: justify;
    font-size: 20px;
}

.separator {
    height: 3px;
    background-color: rgb(70, 41, 17);
    width: 100%;
    margin: 20px 0;
}

.aPropos {
    margin-bottom: 100px;
}

.title-category {
    text-align: center;
}

.picturePropos {
    width: 100%;
    height: 500px;
    background-image: url("./image/image\ chien\ 5.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    position: relative;
}

.infosPicturePropos {
    width: 100%;
    height: 100%;
    z-index: 2;
    color: aliceblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,1));
    border-radius: 7px;
}

.pictureProposText {
    position: absolute;
    bottom: 0;
    margin: 10px;
        p {
            font-size: 20px;
            text-align: justify;
        }
        h3 {
            font-size: 30px;
        }
}

input:not([type="submit"]), textarea {
    border: none;
    border-bottom: 2px solid rgb(70, 41, 17);
    resize: none;
    outline: none;
    width: 30vw;
    margin-bottom: 20px;
    font-size: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.formTop {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.formLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formLeft>div * {
    display: block;
}

.formRight * {
    display: block;
}

.formContact input[type="submit"] {
    background-color: rgb(70, 41, 17);
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: aliceblue;
    box-shadow: Opx Opx 5px rgba(0,0,0, 0.5);
    margin-bottom: 80px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.formContact input[type="submit"]:hover {
    transform: translateY(-4px);
}

footer {
    height: 80px;
    position: relative;
    background-color: rgb(39, 23, 9);
}

footer h4 {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(39, 23, 9);
    top: 0;
    transition: top 1s ease-in-out;
}

.loader p {
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MODIFICATION HEADER A FAIRE*/
@media screen and (max-width: 1100px) {
    .bienvenue>img {
        width: 300px;
    }

    .texte p {
        font-size: 16px;
    }
    .texte h1 {
        font-size: 20px;
    }
    .bienvenue {
        margin-bottom: 50px;
    }

    .aPropos {
        margin-bottom: 100px;
    }

    .picturePropos {
        width: 100%;
        height: 300px;
    }

    .pictureProposText {
        margin: 10px;
            p {
                font-size: 16px;
            }
            h4 {
                font-size: 20px;
            }
    }
}
    
/* MODIFICATION HEADER A FAIRE*/
@media screen and (max-width: 700px) {
    .bienvenue {
        display: flex;
        flex-direction: column;
    }

    .bienvenue > .texte {
        width: initial;
    }

    .texte p {
    font-size: 12px;
    }

    input:not(input[type="submit"]), textarea, input[type="submit"], label, .formContact input[type="submit"] {
        font-size: 16px;
    }

    .pictureProposText p {
        font-size: 12px;
    }

    .formTop {
        flex-direction: column;
        width: 100%;
    }

    input:not(input[type="submit"]), textarea {
        width: 100%;
    }
}